*{
  margin: 0px;
  background-color: #404552
}

div{
  overflow: auto;
  position : fixed;
  background-color:#404552;
  height: 89%;
  width: 100%
}
img{
  margin : 0;
  position: absolute;
  top : 50%;
  left : 50%;
  margin-right: -50%;
  transform : translate(-50%, -50%);
  height: 90%;
  width: 90%;
}

::-webkit-scrollbar{ /*size of scrollbar*/
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track{ /*designing of track*/
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{ /*thumb design*/
  background: red;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #b30000;
}

@media print {
  body * {
    visibility: hidden;
  }
  #imageTag, #imageTag * {
    visibility: visible;
  }
  #imageTag {
    position: absolute;
    left: 0;
    top: 0;
  }
}
