/* Set height of body and the document to 100% */
body,html{
    height: 100%;
    margin: 0;
    overflow :hidden;
}

/* Style tab (button)links */
.tablink {
    background-color: #555;
    color: white;
    float: left; /*flow of tabs i.e starting from...*/
    border-color: black;
    outline: none;
    padding: 10px;
    font-size: 14px;
    overflow: hidden; /*same due to below comment*/
    white-space: nowrap; /*to stop overflow of content in div*/
    max-height: 38px;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    height: 100%;
    overflow:hidden;
    width:100%;
}
iframe{
    width:100%;
    height:100%;
    border:0px;
}
#frm_grp{
  display:inline;
}
.closebtn{
  visibility: hidden;
  float: right;
  background-color: inherit;
  border-radius: 50%;
  font-size: 14px;
  width : 15px;
  font-weight: bold;
}
.closebtn:hover{
  background-color: red;
  color : black;
  transition: all 0.50s;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 1000px;
  width: 100%;
  background-color: #21252b;
  color: white;
  padding: 8px;
  border-top : 1px solid black;
}
#footer_left div{
  float : left;
  text-indent: 30px;
}
#footer_right div{
  float : right;
  padding-right: 20px;
  text-indent: 20px;
}
#foot_dataChange{
  color : red;
}

#float_container{
  width : 100%;
  min-width: 1000px;
  height : 100%;
}
#float_right{
  height: 100%;
  width : auto;
  overflow-x: auto;
  overflow-y: hidden;
}
#dir_tree{
  float:left;
  white-space: nowrap;
  height: 94.9%;
  width : 250px;
  overflow: auto;
  border-right: 1px solid black;
  background-color: #282c34;
  color : white;
  padding-left: 15px;
  cursor: context-menu;
}

::-webkit-scrollbar{ /*size of scrollbar*/
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track{ /*designing of track*/
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{ /*thumb design*/
  background: red;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #b30000;
}

#dir_tree li:first-child{
  list-style-image: url('resource/colapse_main_folder_set1.png');
}
#mainDirectoryLi li[data-is-dir = "true"]{
  list-style-image: url('resource/colapse_folder_set1.png');
}
#mainDirectoryLi li[data-is-dir = "false"]{
  list-style-image: url('resource/file_set1.png');
}
#mainDirectoryLi li[data-is-dir = "false_image"]{
  list-style-image: url('resource/picture_set1.png');
}
#mainDirectoryLi li[data-is-dir = "false_archive"]{
  list-style-image: url('resource/archive_set1.png');
}

#find_divEl{
  position: absolute;
  top: 20px;
  left : 50%;
}
#find_divEl input{
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.3);
  color: black;
}
#find_divEl button{
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

#replace_divEl{
  position: absolute;
  top: 20px;
  left : 50%;
}
#replace_divEl p{
  color : white;
  text-indent: 100px;
}
#replace_divEl input{
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.3);
  color: black;
}
#replace_divEl button{
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: black;
  color: white;
}
